nav {
  background-color: #ae3616;
  text-align: center;
  height: 90px;
}

.buttonNave ul {
  list-style: none;
  padding: 30px;
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-top: 0;
}

.buttonNave a {
  text-decoration: none;
  color: #f6ebd9;
}